* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Aoboshi One", serif;
    font-size: 64px;
}

h2 {
    font-family: "Aoboshi One", serif;
    font-size: 32px;
}

h3 {
    font-family: "Aoboshi One", serif;
    font-size: 20px;
}

/* Navigation */
header {
    display: flex;
    padding: 40px 60px;
    align-items: center;
    background-color: #FFFFFF;
}

.left-items {
    width: 100%;
}

.logo {
    width: 127px;
    height: 40px;
}

.right-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    width: 100%;
}

/* Hero Banner */
.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height: 548px;
    padding: 0 16px;
    background-image: url(../images/banners/hero-bg.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.button {
    padding: 8px 24px;
    background-color: #FFC900;
    text-decoration: none;
    color: #000000;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
}